body{
    padding: 0px;
    margin: 0px;
   
}

.main-heading{
    position: absolute;
    top: 50px;
    left: 22%;
    color: #014C52;
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 700;
}

body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("Images/nature\ theme\ image.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .min-heading{
    font-family: 'Open Sans';
    font-weight: 400;
    position: absolute;
    top: 150px;
    left: 35%;
    color: #FFFFFF;
    font-size: 50px;
  }
  .button{
    box-sizing: border-box;
color: #014C52;
position: absolute;
width: 190px;
height: 55px;
left: 550px ;
top: 305px;
/* border: none; */
border: 0px solid #014C52;
background: #BAF8CD;
border-radius: 80px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;

  }
  .button:hover{
    background: #014C52;;
    color: #BAF8CD;
  }