.images2{
    position: absolute;
    top: 250px;
    /* bottom: 0px !important; */
    height: 280px;
    width: 250px;
    display: inline-block;
   
}
#page1{
    background-color: #FED2D7 !important   ;
}
.btn1{
    position: absolute;
width: 143px;
height: 55px;
font-family: 'Outfit';
font-weight: 600;
top: 41px;
border: 2px solid #FF5468;
  background-color: #FED2D7;
  border-radius: 80px;
  color: #FF5468;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10000;
}
.btn1:hover{
    background-color: #FF5468 !important;
    color: #FED2D7 !important ;
}
.btn02{
    position: absolute;
    width: 153px;
    height: 45px;
    font-family: 'Outfit';
    font-weight: 600;
    top: 551px;
    border: 2px solid #FF5468;
      background-color: #FF5468;
      border-radius: 80px;
      color: #FED2D7;
      padding: 14px 28px;
      font-size: 14px;
      cursor: pointer;
  overflow: hidden;
}
.btn02:hover{
    border: 2px solid #FF5468;
      background-color: #FED2D7;
      border-radius: 80px;
      color: #FF5468;
}
.resources{
    position: absolute;
width: 459px;
height: 352px;
left: 133px;
top: 912px;

background: rgba(255, 84, 104, 0.32);
border-radius: 50px;

}
.resource-img{
    height: 130px;
    width: 100px;
}

.resource2-img{
    height: 380px;
    width: 350px;
}